@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: rgb(29, 28, 28);
}
form {
  text-align: center;
  margin-top: 5rem;
  height: 300px;
  width: 50%;
  margin-left: 5rem;
  background: white;
  padding: 2rem;
  border-radius: 10px;
}
input {
  margin: 5px 10px;
  outline: none;
  padding: 10px;
}
button {
  padding: 10px 15px;
  border: none;
  background: rgb(41, 145, 145);
  font-size: 1rem;
  font-family: "Pattaya", sans-serif;
  border-radius: 5px;
}
button:hover {
  background: #eeeeee;
  color: rgba(165, 42, 42, 0.562);
}
